# Unity generated
*.pidb.meta
/[Ll]ibrary/
/[Tt]emp/
/autosave/
/.gradle/

# Visual Studio Generate
/.vs/
/[Oo]bj/
/ExportedObj/

*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.tmp

# OS generated
[Dd]esktop.ini
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project builds
/[Bb]uild/
/[Bb]uilds/
/[Ee]xclude/
#/[Ss]ource/
#/[Ss]ources/
/*ibrary/
*.apk

# Project specifics
/Logs/
/Components/
/*.dll
/*.leu