<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--TITLES STYLE CONFIG-->
      <add key="TitleFontName" value="Tahoma" />
      <!--Font size in milimiters-->
      <add key="TitleFontSize" value="15" />
    
      <!--Font color RGB-->
      <add key="TitleRGBRed" value="160" />
      <add key="TitleRGBGreen" value="160" />
      <add key="TitleRGBBlue" value="160" />
    
      <!--Space in milimiters-->
      <add key="TitleSpaceAfter" value="15" />
    <!--END TITLES STYLE CONFIG-->

    <!--SUBTITLES STYLE CONFIG-->
      <add key="SubtitleFontName" value="Tahoma" />
      <!--Font size in milimiters-->
      <add key="SubtitleFontSize" value="10" />

      <!--Font color RGB-->
      <add key="SubtitleRGBRed" value="160" />
      <add key="SubtitleRGBGreen" value="160" />
      <add key="SubtitleRGBBlue" value="160" />

      <!--Space in milimiters-->
      <add key="SubtitleSpaceAfter" value="15" />
    <!--END   SUBTITLES STYLE CONFIG-->


    <!--TEXT STYLE CONFIG-->
      <add key="TextFontName" value="Tahoma" />
      <!--Font size in milimiters-->
      <add key="TextFontSize" value="6" />

      <!--Font color RGB-->
      <add key="TextRGBRed" value="0" />
      <add key="TextRGBGreen" value="0" />
      <add key="TextRGBBlue" value="0" />

      <!--Space in milimiters-->
      <add key="TextSpaceAfter" value="40" />
    <!--END TEXT STYLE CONFIG-->

  </appSettings>
</configuration>